.to_do_item_container,
.to_do_item_container_completed{
    display: flex;
    gap: 20px;
    padding: 20px;
}

.to_do_item_container_completed{
    background-color: green;
}

.to_do_item{
    height: 50px;
}

.to_do_icons{
    display: flex;
    gap: 10px;
}